<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887988706701-6av1j3a85dl0b0ubn2a5fpo4g1qcamar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887988706701-6av1j3a85dl0b0ubn2a5fpo4g1qcamar</string>
	<key>API_KEY</key>
	<string>AIzaSyCXtbmLuvIGiUeF8o3oDQ7d4P39UNV3YGs</string>
	<key>GCM_SENDER_ID</key>
	<string>887988706701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nelson.nelsonGroupbuying</string>
	<key>PROJECT_ID</key>
	<string>groupbuying-9d07b</string>
	<key>STORAGE_BUCKET</key>
	<string>groupbuying-9d07b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887988706701:ios:20d14c26da761b282031c4</string>
</dict>
</plist>